<!-- Listing of Posts for Sidebar -->

<h5 class="post-subject-list"> <%= post.subject %> </h5>
<h4 class="post-title-list"> <%= link_to post.title, post %> </h4>
<h5 class="post-created-at"> <%= post.created_at.to_formatted_s(:long) %> </h5>

<hr>
