<!-- Listing of Posts for Sidebar -->

<h4 class="post-subject-list"> <%= post.subject %> </h4>
<h5 class="post-title-list"> <%= post.title %> </h5>
<h5 class="post-created-at"> <%= post.created_at %> </h5>

<hr>
